body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: cornflowerblue;
}

#main-play-area {
    background-color: black;
    background-image: url(img/space.png);
    height: 600px;
    width: 600px;
}

.game-instructions {
    position: relative;
    color: white;
    left: 7rem;
    top: 0px;
}

.start-button {
    position: relative;
    color: white;
    top: 9rem;
    left: 15rem;
    cursor: pointer;
}

.player-shooter {
    position: relative;
    height: 60px;
    width: 70px;
    left: 20px;
    top: 250px;
}

.laser {
    position: relative;
    width: 40px;
    height: 30px;
}

.alien {
    height: 60px;
    width: 70px;
    position: relative;
}

.alien-transition {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.dead-alien {
    height: 60px;
    width: 70px;
    position: relative;
    opacity: 0;
}

.score-display {
    font-family: sans-serif;
    top: 10px;
    margin: auto;
    right: 0;
    text-align: center;
}

.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    font-family: sans-serif;
}

.modal-content {
    margin: 0 auto;
    margin-top: 3%;
    max-width: 600px;
    background-color: #6495ED;
    padding: 0;
    box-shadow: 0 0 2px #fff;
    color: aliceblue;
}

.modal-header h1{
    font-weight: bold;
    text-align: center;
}

.modal-header, .modal-body, .modal-footer{
    padding: 10px;
    text-align: center;
}

.modal-header{
    /* background-color: #ccc; */
    background-color: #6495ED;
    color: aliceblue;
}

.modal-footer{
    /* background-color: #ccc; */
    background-color: #6495ED;
    color: aliceblue;
}

.score-display {
    position: relative;
    height: 60px;
    width: 30vw;
    margin: auto;
    color: aliceblue;
}